In [2]:
import pandas as pd
import numpy as np

In [3]:
data = {
    "height" : [150,160,165,170,175,180,185,190],
    "weight" : [50,55,60,65,70,75,80,85]
}

df = pd.DataFrame(data)

In [4]:
df.head()

   height  weight
0     150      50
1     160      55
2     165      60
3     170      65
4     175      70

In [5]:
correlation = df['height'].corr(df['weight'])
print(correlation)

0.9941348467724345

In [6]:
correlation2 = df['height'].corr(df['weight'] , method ='spearman')
print(correlation2)

1.0

spearman manually

In [7]:
df['rank1'] = df['height'].rank()
df['rank2'] = df['weight'].rank()

In [8]:
df.head()

   height  weight  rank1  rank2
0     150      50    1.0    1.0
1     160      55    2.0    2.0
2     165      60    3.0    3.0
3     170      65    4.0    4.0
4     175      70    5.0    5.0

In [9]:
df['D'] = df['rank1'] -df['rank2']

In [10]:
df.head()

   height  weight  rank1  rank2    D
0     150      50    1.0    1.0  0.0
1     160      55    2.0    2.0  0.0
2     165      60    3.0    3.0  0.0
3     170      65    4.0    4.0  0.0
4     175      70    5.0    5.0  0.0

In [11]:
df['D2'] = df['D']**2

In [12]:
df.head()

   height  weight  rank1  rank2    D   D2
0     150      50    1.0    1.0  0.0  0.0
1     160      55    2.0    2.0  0.0  0.0
2     165      60    3.0    3.0  0.0  0.0
3     170      65    4.0    4.0  0.0  0.0
4     175      70    5.0    5.0  0.0  0.0

In [13]:
sum_D2 = df['D2'].sum()
sum_D2

0.0

In [14]:
n = len(df)
n

8

In [50]:
correlation_sp = 1- (6*sum_D2)/ ((n**3)-n)

In [51]:
print(correlation_sp)

1.0

calculate mean and sd deviation of hight and weight colum manually without using built in fun

In [25]:
height_sum = df['height'].sum()
height_sum

1375

In [27]:

weight_sum = df['weight'].sum()

weight_sum

540

In [29]:
mean_height = height_sum / len(df)
mean_height

171.875

In [30]:
mean_weight = weight_sum / len(df)
mean_weight

67.5

In [ ]:
df['x'] = df['height'] - mean_height

print(df['x'])

0   -21.875
1   -11.875
2    -6.875
3    -1.875
4     3.125
5     8.125
6    13.125
7    18.125
Name: x, dtype: float64

In [34]:
df['x_2_sd'] = df['x']**2

print(df['x_2_sd'])

0    478.515625
1    141.015625
2     47.265625
3      3.515625
4      9.765625
5     66.015625
6    172.265625
7    328.515625
Name: x_2_sd, dtype: float64

In [37]:
sigma = df['x_2_sd'].sum() / len(df)
sigma

155.859375

In [40]:
import math

In [42]:
height_sigma = math.sqrt(sigma)
height_sigma

12.484365222148861

weight

In [45]:
df['v'] = df['weight'] - mean_weight

df['v']

0   -17.5
1   -12.5
2    -7.5
3    -2.5
4     2.5
5     7.5
6    12.5
7    17.5
Name: v, dtype: float64

In [46]:
df['v_2_sd']=df['v']**2

df['v_2_sd']

0    306.25
1    156.25
2     56.25
3      6.25
4      6.25
5     56.25
6    156.25
7    306.25
Name: v_2_sd, dtype: float64

In [48]:
sigma_w = df['v_2_sd'].sum() / len(df)

sigma_w

131.25

In [ ]:
weight_sigma = math.sqrt(sigma_w)  
weight_sigma

11.4564392373896

kar pean sean

In [53]:
df['xy'] = df['v'] * df['x']

df['xy']

0    306.25
1    156.25
2     56.25
3      6.25
4      6.25
5     56.25
6    156.25
7    306.25
Name: xy, dtype: float64

In [55]:
sum_xy = df['xy'].sum()

sum_xy

1050.0

In [66]:
x2y2 =(df['x_2_sd'].sum()) * (df['v_2_sd'].sum())

x2y2

1309218.75

302558.59375

In [67]:
kar_pearson =  sum_xy / math.sqrt(x2y2)

kar_pearson

0.9176629354822471